@import "./utility";

footer {
    @include background-stuff();
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin: 0px;
    .socialmedia {
              
        
        a {
            text-decoration: none;
            justify-content: flex-start;
            i {
                justify-content: space-around;
                margin-left: 10dvw;
                margin-right: 10dvh;
                flex-direction: row;
                font-weight: bold;
                font-size: 40px;
                color: $backgroundcolor;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        p {
            padding-right: 25px;
            color: $primarycolor;
            justify-content: flex-end;
        }
        
    }
    .info {
        color: $primarycolor;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 0;


        // p {
        //     font-weight: bold;
        // }
    }
}

@media screen and (min-width: $desktop){
    footer:hover {
        background-color: $secondarycolor;
        a:hover {
            background-color: none;
            text-shadow: 5px 5px 8px $textcolor;
            scale: 3;
            i {
                color: $textcolor;
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    footer {
        .socialmedia {
            a {
                i {
                    margin-left: 5dvw;
                    margin-right: 5dvh;
                }
            }
        }
    }
}


@media screen and (max-width: $tablet) {
    footer {
        height: 10vh;
        background-color: $secondarycolor;
        flex-direction: row;
        align-items: center;
        .socialmedia {
            width: 100%;
            margin: 5px;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            
            a {
                width: 0px;
                i {
                    color: $textcolor;
                }
            }
            
        
        }
        .info {
            display: none;
        }
    }
}
