@import "./utility";

// Regular Menu
header {
    @include background-stuff();
    padding: 20px;
    
    .logo {
        display: flex;
        justify-content:left;
        a {
            color: $primarycolor;
            text-decoration: none;
            font-size: 40px;
        }
    }
    
    #nav-items {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 20px;
        

        a {
            text-decoration: none;
            color: $primarycolor;
            font-weight: bold;
            margin: 10px;
            margin-bottom: 0px;
            
        }
    }
}

@media screen and (min-width: $desktop) {
    header:hover {
        background-color: $secondarycolor;
        a:hover {
            background-color: $textcolor;
            text-shadow: 5px 5px 5px $textcolor;
            box-shadow: 5px 10px 8px $textcolor;
        }
    }
}


@media screen and (max-width: $tablet){
    header {
        height: 10vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $secondarycolor;

        .logo {
            

            a {
                color: $textcolor;
                font-weight: bold;
            }
            
            .name {
                margin-bottom: 0;
                text-align: center;
                color: $textcolor;
            }
        }

        #nav-items {
            width: 50%;
            display: none;
            
            a {
                color: $textcolor;
            }
        }
    }
}

@media screen and (max-width: $phone) {

}
 