// Imports the main components
@import "./styles.scss";

// Standardised style between pages for conformity
body {
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

// Individual page requirements for content functionality purposes
        section {
            font-size: 24px;
            height: fit-content;
            width: 45dvw;
            margin: 10px;
            border: 0;
            padding: 10px;
            background-color: $boxcolor;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
        }

        .img {
            width: fit-content;

            img {
                width: 500px;
            }
        }
    }
}

// Specifications for custom tablet view due to aesthetic choices
@media screen and (max-width: $custom) {
    body {
        main {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            section {
                width: 95dvw;
            }
    
            .img {
                img {
                    width: 90dvw;
                }
            }
        }
    }
}