// Imports the main components
@import "./styles.scss";

// Standardised style between pages for conformity
body {
    main {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-start;

// Individual page requirements for content functionality purposes
        .cv {
            font-size: 18px;
            height: fit-content;
            width: 75dvw;
            margin: 10px;
            border: 0;
            padding: 0;
            padding-right: 15px;
            background-color: $boxcolor;
            display: flex;
            justify-content: left;
            align-items: flex-start;
            flex-direction: column;

            h3 {
                margin-left: 20px;
                font-weight: bold;
            }
        }

// Resume icon and text appearance and positioning
        .resume {
            font-size: 18px;
            height: fit-content;
            width: 15dvw;
            margin: 10px;
            border: 0;
            padding: 0;
            background-color: $boxcolor;
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: nowrap;
            text-align: center;
        

            p {
                margin-top: 0;
                font-weight: bold;
            }
        }
    }
}

// Specifications for tablet view
@media screen and (max-width: $tablet) {
    body {
        main {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .cv {
                width: 95dvw;
            }
        }
    }
}

// Specifications for phone view
@media screen and (max-width: $phone) {
    body {
        main {
            .cv {
                font-size: 15px;
            }
            .resume {
                width: fit-content;
            }
        }
    }
    
}