// Imports the main components
@import "./styles.scss";

// Standardised style between pages for conformity
body {
    main {
        display: flex;
        justify-content: center;
        .main {
            font-weight: bold;
            font-size: 24px;
            height: 78dvh;
            width: 95dvw;
            margin: 10px;
            border: 0;
            padding: 0;
            background-color: $boxcolor;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;

// Individual page requirements for content functionality purposes
            article {
                width: fit-content;
                margin: 20px;
                border: 1px solid $secondarycolor;
                border-radius: 8px;
                overflow: hidden;
                text-align: center;
                background-color: $backgroundcolor;
                section {
                    .blog-image {
                        width: 400px;
                        
                    }
                    h3 {
                        color: $primarycolor;
                    }
                }
            }

        }
    }
}

// Interactive animation within desktop view
@media screen and (min-width: $desktop) {
    body{
        main{
            .main{
                article:hover {
                    box-shadow: 5px 10px 8px $textcolor;
                    background-color: $secondarycolor;
                    scale: 1.1;
                }
            }
        }
    }
}

// Specifications for tablet view
@media screen and (max-width: $tablet) {
    body {
        main {
            .main{
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                article {
                    section {
                        h3 {
                            padding: 10px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    
}

// Specifications for phone view
@media screen and (max-width: $phone) {
    body {
        main {
            .main {
                height: auto;
                article {
                    align-items: center;
                    justify-content: center;
                    width: 300px;
                    margin: 5px;
                    section {                        
                        .blog-image{
                            width: 300px
                        }
                    }
                }
                
            }
        }
    }
}