@import "./styles.scss";

body {
    main {
        display: flex;
        justify-content: center;
        section {
            font-weight: bold;
            font-size: 24px;
            height: 78dvh;
            width: 95dvw;
            margin: 10px;
            border: 0;
            padding: 0;
            background-color: $boxcolor;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;

            .blog1 {
                background-color: red;
                height: 100px;
                width: 100px;
            }
            
            .blog2 {
                background-color: blue;
                height: 100px;
                width: 100px;
            }

        }
    }
}